section#container-balanco .container #fieldset #flexrow {
    display: flex;
    flex-wrap: wrap;
}

section#container-balanco .container #fieldset #flexrow .btn {
    background-color: #1b8140 !important;
}

section#container-balanco .container #fieldset #flexrow .dropdown:hover .dropdown-menu {
    display: block;
}

section#container-balanco .container #fieldset #flexrow .dropdown:hover .btn {
    background-color: #3e8e41;
}