<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Eventos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <section id="eventos-container">
        <!-- Breadcrumb -->
        <div style="margin-left: 3%; margin-right: 3%">
            <div class="row mb-3">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb"
                            style="background: #fff; border-radius: 0; border-bottom: 2px solid#e4ba06;">
                            <li class="breadcrumb-item"><a href="/home"
                                    style="color: #1b8140; font-weight: 500">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Eventos</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
            <div class="alert alert-info" role="alert">
                Estes são os eventos fixos da ASIPECA, para ser informado dos outros eventos, por favor, siga a nossa 
                <a href="https://pt-br.facebook.com/ASIPECA/" class="alert-link" target="_blank">página no Facebook</a>
            </div>

            <h3>05 de Março</h3>
            <h4>Aniversário asipeca</h4>
            <hr>
            
            <h3>08 de Abril</h3>
            <h4>Dia Mundial do Combate ao Câncer</h4>
            <h5>Realização de vários eventos e palestras durante o mês. Será aberta a agenda para as empresas convidarem para
            "bate-papo" com os colaboradores.</h5>
            <hr>

            <h3>Junho/Julho</h3>
            <h4>Festa Junina</h4>
            <h5>Participarão da afejubes. e estão abertos a empresas e condimínios que realizam o evento.</h5>
            <hr>

            <h3>Outubro Rosa</h3>
            <h4>Combate ao câncer de mama</h4>
            <h5>Chá rosa: Uma semana de palestras</h5>
            <hr>

            <h3>12 de Outubro</h3>
            <h4>Dia das crianças</h4>
            <h5>Festa para mais de 500 crianças carentes</h5>
            <hr>

            <h3>Novembro azul</h3>
            <h4>Combate ao câncer de próstata</h4>
            <h5>Chá azul: Uma semana de palestras</h5>
            <hr>

            <h3>Dezembro</h3>
            <h4>Natal</h4>
            <h5>
                - Confraternização com pacientes <br>
                - Distribuição de 150 cestas de natal
            </h5>
            <hr>

        </div>
    </section>
</body>

</html>