<!DOCTYPE html>
<html th:replace="~{default :: layout(~{::title}, ~{::section})}">

<head>
    <title>Asipeca</title>
</head>

<body>
    <section id="home-container">
        <div style="margin-left: 3%; margin-right: 3%">
            <div class="row mb-3">
                <span style="display: block">
                    <img class="d-block w-100" th:src="@{/img/asipeca.jpg}" alt="Asipeca home">
                </span>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h3>Nossa história</h3>
                        </div>
                        <div class="card-body">
                            <p id="history">
                                Tudo começou em 2001, quando Nilton Antunes Fogaça - que viria a ser o fundador da Asipeca - teve câncer na bexiga.
                                Atento ao que estava acontecendo ao seu redor e sentindo os sintomas, resolveu fazer exames de prevenção e nos
                                resultados foi detectada a doença. <br> A família, ao receber a notícia, ficou impactada, como era de se esperar, mas Nilton pediu para que eles fossem fortes.
                                Começou então o tratamento. Neste período, ele foi encaminhado para uma instituição que ajudava pacientes oncológicos.
                                No local, era recebido muito bem e os demais participantes ajudavam e apoiavam uns aos outros. Porém, ao chegar certo
                                dia, foi surpreendido com a informação que o lugar teria sido lacrado pela Polícia Federal, pois na denúncia que fizeram
                                alegaram que aquela instituição estava desviando verba.
                            <br>
                            <span id="last-line1">Vários pacientes, presentes naquele momento, ficaram desesperados,</span><span id="last-line2"> sem saber o que fazer e para onde ir. </span><span id="last-line3">
                                Foi então que Nil</span><span id="last-line4">ton olhou para </span><a th:href="@{/historia}" id="ver-mais">ver mais...</a>
                            </p>
                        </div>
                        <!-- <div class="card-footer">
                            <a class="btn btn-primary btn-block" th:href="@{/historia}">Ver mais</a>
                        </div> -->
                    </div>
                </div>

                <hr style="background-color: #e4ba06">

                <div class="row">
                    <div class="card" style="width: 100%">
                        <div class="card-header">
                            <h3>Assistências</h3>
                        </div>
                        <div class="card-body">
                            <div class="row ml-5" style="display: flexbox">
                                <div class="card mr-2 mb-2" style="width: 18rem;">
                                    <img th:src="@{/img/asipeca.jpg}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Nutricionista</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur sint
                                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="card mr-2 mb-2" style="width: 18rem;">
                                    <img th:src="@{/img/asipeca.jpg}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Odontologia especializada</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt
                                            ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur
                                            sint
                                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="card mr-2 mb-2" style="width: 18rem;">
                                    <img th:src="@{/img/asipeca.jpg}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Laserterapia</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt
                                            ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur
                                            sint
                                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="card mr-2 mb-2" style="width: 18rem;">
                                    <img th:src="@{/img/asipeca.jpg}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Fisioterapia</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt
                                            ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur
                                            sint
                                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary btn-block" th:href="@{/assistencia}">Ver todos os serviços</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <nav class="navbar navbar  navbar-expand-lg navbar-dark bg-dark sticky-bottom" id="bottom-bar">
            <div style="margin-left: 1%; margin-right: 1%; width: 100%">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row mt-2">
                            <h5>Redes sociais</h5>
                        </div>
                        <div class="row">
                            <a href="https://pt-br.facebook.com/ASIPECA/" target="_blank"><span data-feather="facebook" id="icon">Facebook</span></a>
                            <a href="https://instagram.com/asi_peca?igshid=1xzlk0z4gw2n9" target="_blank"><span data-feather="instagram" id="icon">Instagram</span></a>
                        </div>
                    </div>
                
                    <div class="col-md-5 ml-1">
                        <div class="row mt-2">
                            <h5>Contatos</h5>
                        </div>
                        <div class="row">
                            <span data-feather="phone" style="align-self: center">Telefone</span>
                            <h5 class="ml-2">(15) 3226-5760</h5>
                        </div>
                        <div class="row">
                            <span data-feather="mail" style="align-self: center">E-mail</span>
                            <h5 class="ml-2">contato.asipeca@hotmail.com</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mt-2">
                            <h5>Endereço</h5>
                        </div>
                        <div class="row d-flex">
                            <span data-feather="map-pin" style="align-self: center">Endereço</span>
                            <h5 class="ml-2">Rua Bernardino Albieiro -375 <br> Parque das Laranjeiras
                                Sorocaba</h5>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</body>

</html>