<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Parceiros</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <section id="historia-container">
        <!-- Breadcrumb -->
        <div style="margin-left: 3%; margin-right: 3%">
            <div class="row mb-3">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb"
                            style="background: #fff; border-radius: 0; border-bottom: 2px solid#e4ba06;">
                            <li class="breadcrumb-item"><a href="/home"
                                    style="color: #1b8140; font-weight: 500">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Parceiros</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row ml-5" style="display: flexbox">
                    <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                        <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Parceiro 1</h5>
                        </div>
                    </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 2</h5>
                    </div>
                </div>
            
                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 3</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 4</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 5</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 6</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 7</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 8</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 9</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 10</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 11</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 12</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 13</h5>
                    </div>
                </div>

                <div class="card mr-2 mb-2" style="max-width: 150px; max-height: 200px">
                    <img th:src="@{/img/logo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parceiro 14</h5>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <h1>Obrigado a todos os parceiros . . .</h1>
            </div>
            <div class="row mt-3">
                <h2 style="color: #808080">~mensagem de agradecimento~</h2>
            </div>
        </div>
    </section>
</body>

</html>